@import "../styles/colors";

/*====================================================*/
/* Global                                             */
/*====================================================*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $white
}