<style>
    header h1 {
        color: #09c;
    }
    header span {
        color: #444;
    }
    footer h3 {
        color: #333;
    }
    .content h4 {
        color: #333;
    }
    .content p {
        color: #666;
    }
</style>
<header>
    <h1>Free <span>Service</span></h1>
</header>
{% block body %}{% endblock %}
<footer>
    <h3>Regards!</h3>
</footer>