aside {
  margin-top: 0px;
  text-align: center;
  h1 {
    font-size: 30px;
  }
  ul {
    margin: 0 auto;
    text-align: center;
    & li {
      margin-bottom: 15px;
    }
  }
  .root {
    & ul > li > * {
      width: 30%;
    }
    & ul > li > button {
      height: 50px;
    }
  }
}