@import "node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "main";

/* HEADER */
header {
    background: $main-purple;
    padding: 15px 0;

    & a {
        color: $white;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }

    & h1 {
        color: $white;
        text-align: left;
    }

    & a {
        float: right;
        color: $white !important;
    }
}
/* HEADER */

/* lOGIN */
.login {
    border: 2px solid $main-purple;
    border-radius: 5px;
    padding: 40px;
    margin-top: 50px;
}
/* lOGIN */

/* MAIN */
section {
    margin-top: 50px;
}
/* MAIN */
