.padding-null {
    padding: 0 !important;
}

.list-group-item.active {
    background-color: $main-purple;
    border-color: $main-purple;
}
.line-button-left {
    float: left;
    margin-right: 10px;
}
